/* userHome.css */

.buttonStyle2 {
  background-color: rgb(255, 255, 255);
  color: bg-gray-300;
  border: 1px solid rgb(255, 255, 255);
  text-align: center; /* Add this line to center the text */
  padding: 10px; /* Add padding for better spacing */
}

.buttonStyle2:hover {
  background-color: rgb(0, 45, 116);
  color: rgb(255, 255, 255);
}

/* Media query for small screens (e.g., mobile devices) */
@media only screen and (max-width: 600px) {
  {
    width: 100%; /* Make the width 100% for small screens */
  }

  .flex {
    flex-direction: column; /* Change flex direction to column for better stacking */
  }
}
