/* Your other styles */

.buttonStyle {
  background-color: rgb(255, 255, 255);
  color: bg-gray-300;
  border: 1px solid rgb(255, 255, 255);
  text-align: center; /* Add this line to center the text */
}

.buttonStyle:hover {
  background-color: #4C3869;
  color: rgb(255, 255, 255);
}

/* Add this to your styles or CSS file */
@keyframes spin {
  to { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

